.input-container {
    margin-bottom: 20px;
}

.message {
    margin-bottom: 1rem;
    font-size: 0.8rem;
}

.error-message {
    font-size: 1rem;
    color: var(--error);
}

.info-message {
    opacity: 0.5;
}
